In [2]:
import pandas as pd
import numpy as np
import scipy as sp
from scipy.stats import variation, norm

Questão 1

In [3]:
df = pd.read_csv('./DataSet/aumento_atividade_empresas.csv', sep=';')
df

    Empresa  Meses Setor Tamanho
0         1      8     C       G
1         2      9     C       M
2         3      4     I       G
3         4      5     I       M
4         5      3     I       M
5         6      6     C       P
6         7      8     C       G
7         8      6     I       M
8         9      6     I       P
9        10      8     C       M
10       11      5     C       P
11       12      5     I       P
12       13      6     C       M
13       14      4     I       M
14       15      4     I       G

In [4]:
crescimento_setor = df.groupby(by='Setor').agg({'Meses': [np.mean, np.median, np.std, variation]}).reset_index()
crescimento_setor

  Setor     Meses
             mean median      std variation
0     C  7.142857    8.0  1.46385  0.189737
1     I  4.625000    4.5  1.06066  0.214520

Baseado nos dados obtidos, concluimos que o crescimento do setor comercial é maior do que o setor industrial.

E concluimos que as empresas do setor comercial são mais homogêneas do que as empresas do setor industrial.

In [5]:
grupo_comercial = df[df['Setor'] == 'C']
grupo_comercial

    Empresa  Meses Setor Tamanho
0         1      8     C       G
1         2      9     C       M
5         6      6     C       P
6         7      8     C       G
9        10      8     C       M
10       11      5     C       P
12       13      6     C       M

In [6]:
grupo_industrial = df[df['Setor'] == 'I']
grupo_industrial

    Empresa  Meses Setor Tamanho
2         3      4     I       G
3         4      5     I       M
4         5      3     I       M
7         8      6     I       M
8         9      6     I       P
11       12      5     I       P
13       14      4     I       M
14       15      4     I       G

In [7]:
media_comercial = grupo_comercial['Meses'].mean()
mediana_comercial = grupo_comercial['Meses'].median()
media_industrial = grupo_industrial['Meses'].mean()
mediana_industrial = grupo_industrial['Meses'].median()

In [8]:
print(media_comercial)
print(mediana_comercial)
print(media_industrial)
print(mediana_industrial)

7.142857142857143
8.0
4.625
4.5

In [9]:
variancia_comercial = grupo_comercial['Meses'].var()
variancia_industrial = grupo_industrial['Meses'].var()
desvio_padrao_comercial = grupo_comercial['Meses'].std()
desvio_padrao_industrial = grupo_industrial['Meses'].std()

In [10]:
print(variancia_comercial)
print(variancia_industrial)
print(desvio_padrao_comercial)
print(desvio_padrao_industrial)

2.142857142857143
1.125
1.4638501094227998
1.0606601717798212

In [11]:
crescimento_tamanho = df.groupby(by='Tamanho').agg({'Meses': [np.mean, np.median, np.std, variation]}).reset_index()
crescimento_tamanho

  Tamanho     Meses
               mean median       std variation
0       G  6.000000    6.0  2.309401  0.333333
1       M  5.857143    6.0  2.115701  0.334422
2       P  5.500000    5.5  0.577350  0.090909

A partir dos dados coletados podemos concluir que não existe relação entre o tamanho da empresa e o número de meses com crescimento, pois a diferença entre o número médio de meses com crescimento é pequena.

In [12]:
grupo_P = df[df['Tamanho'] == 'P']
grupo_P

    Empresa  Meses Setor Tamanho
5         6      6     C       P
8         9      6     I       P
10       11      5     C       P
11       12      5     I       P

In [13]:
grupo_M = df[df['Tamanho'] == 'M']
grupo_M

    Empresa  Meses Setor Tamanho
1         2      9     C       M
3         4      5     I       M
4         5      3     I       M
7         8      6     I       M
9        10      8     C       M
12       13      6     C       M
13       14      4     I       M

In [14]:
grupo_G = df[df['Tamanho'] == 'G']
grupo_G

    Empresa  Meses Setor Tamanho
0         1      8     C       G
2         3      4     I       G
6         7      8     C       G
14       15      4     I       G

In [15]:
media_grupo_P = grupo_P['Meses'].mean()
mediana_grupo_P = grupo_P['Meses'].mean()
variancia_grupo_P = grupo_P['Meses'].var()
desvio_padrao_grupo_P = grupo_P['Meses'].std()

In [16]:
media_grupo_M = grupo_M['Meses'].mean()
mediana_grupo_M = grupo_M['Meses'].mean()
variancia_grupo_M = grupo_M['Meses'].var()
desvio_padrao_grupo_M = grupo_M['Meses'].std()

In [17]:
media_grupo_G = grupo_G['Meses'].mean()
mediana_grupo_G = grupo_G['Meses'].mean()
variancia_grupo_G = grupo_G['Meses'].var()
desvio_padrao_grupo_G = grupo_G['Meses'].std()

In [18]:
print(media_grupo_P)
print(mediana_grupo_P)
print(variancia_grupo_P)
print(desvio_padrao_grupo_P)

5.5
5.5
0.3333333333333333
0.5773502691896257

In [19]:
print(media_grupo_M)
print(mediana_grupo_M)
print(variancia_grupo_M)
print(desvio_padrao_grupo_M)

5.857142857142857
5.857142857142857
4.476190476190475
2.115700942049815

In [20]:
print(media_grupo_G)
print(mediana_grupo_G)
print(variancia_grupo_G)
print(desvio_padrao_grupo_G)

6.0
6.0
5.333333333333333
2.309401076758503

Questão 2

In [4]:
df_peso = pd.read_csv('.\DataSet\pesos_mulheres_por_idade.csv', sep=';')
df_peso

   40  45  50  55  60  65
0  55  58  60  77  70  65
1  50  56  74  78  76  82
2  68  62  70  70  74  72
3  65  65  78  72  83  82
4  62  63  76  80  85  80

In [22]:
media_peso_40 = df_peso['40'].mean()
mediana_peso_40 = df_peso['40'].median()
desvio_padrao_peso_40 = df_peso['40'].std()
variancia_peso_40 = df_peso['40'].var()
coeficiente_variancia_40 = (desvio_padrao_peso_40/media_peso_40)*100

In [23]:
media_peso_45 = df_peso['45'].mean()
mediana_peso_45 = df_peso['45'].median()
desvio_padrao_peso_45 = df_peso['45'].std()
variancia_peso_45 = df_peso['45'].var()
coeficiente_variancia_45 = (desvio_padrao_peso_45/media_peso_45)*100

In [24]:
media_peso_50 = df_peso['50'].mean()
mediana_peso_50 = df_peso['50'].median()
desvio_padrao_peso_50 = df_peso['50'].std()
variancia_peso_50 = df_peso['50'].var()
coeficiente_variancia_50 = (desvio_padrao_peso_50/media_peso_50)*100

In [25]:
media_peso_55 = df_peso['55'].mean()
mediana_peso_55 = df_peso['55'].median()
desvio_padrao_peso_55 = df_peso['55'].std()
variancia_peso_55 = df_peso['55'].var()
coeficiente_variancia_55 = (desvio_padrao_peso_55/media_peso_55)*100

In [26]:
media_peso_60 = df_peso['60'].mean()
mediana_peso_60 = df_peso['60'].median()
desvio_padrao_peso_60 = df_peso['60'].std()
variancia_peso_60 = df_peso['60'].var()
coeficiente_variancia_60 = (desvio_padrao_peso_60/media_peso_60)*100

In [27]:
media_peso_65 = df_peso['65'].mean()
mediana_peso_65 = df_peso['65'].median()
desvio_padrao_peso_65 = df_peso['65'].std()
variancia_peso_65 = df_peso['65'].var()
coeficiente_variancia_65 = (desvio_padrao_peso_65/media_peso_65)*100

In [28]:
media_peso = [media_peso_40, media_peso_45, media_peso_50, media_peso_55, media_peso_60, media_peso_65]
mediana_peso = [mediana_peso_40, mediana_peso_45, mediana_peso_50, mediana_peso_55, mediana_peso_60, mediana_peso_65]
desvio_padrao_peso = [desvio_padrao_peso_40, desvio_padrao_peso_45, desvio_padrao_peso_50, desvio_padrao_peso_55, desvio_padrao_peso_60, desvio_padrao_peso_65]
variancia_peso = [variancia_peso_40, variancia_peso_45, variancia_peso_50, variancia_peso_55, variancia_peso_60, variancia_peso_65]
coeficiente_variancia = [coeficiente_variancia_40, coeficiente_variancia_45, coeficiente_variancia_50, coeficiente_variancia_55, coeficiente_variancia_60, coeficiente_variancia_65]
df_mulheres = pd.DataFrame(
    {'Age': ['40', '45', '50', '55', '60', '65'],
     'Mean': media_peso,
     'Median': mediana_peso,
     'Std': desvio_padrao_peso,
     'Variation Coefficient': coeficiente_variancia}
)
df_mulheres

  Age  Mean  Median       Std  Variation Coefficient
0  40  60.0    62.0  7.382412              12.304019
1  45  60.8    62.0  3.701351               6.087749
2  50  71.6    74.0  7.127412               9.954486
3  55  75.4    77.0  4.219005               5.595497
4  60  77.6    76.0  6.268971               8.078571
5  65  76.2    80.0  7.496666               9.838144

Podemos afirmar que no geral, o peso médio das mulheres parece aumentar conforme o aumento da idade, tendo algumas exceções

In [29]:
print(media_peso_40)
print(mediana_peso_40)
print(desvio_padrao_peso_40)
print(variancia_peso_40)

60.0
62.0
7.3824115301167
54.5

In [30]:
print(media_peso_45)
print(mediana_peso_45)
print(desvio_padrao_peso_45)
print(variancia_peso_45)

60.8
62.0
3.7013511046643495
13.700000000000001

In [31]:
print(media_peso_50)
print(mediana_peso_50)
print(desvio_padrao_peso_50)
print(variancia_peso_50)

71.6
74.0
7.127411872482184
50.79999999999999

In [32]:
print(media_peso_55)
print(mediana_peso_55)
print(desvio_padrao_peso_55)
print(variancia_peso_55)

75.4
77.0
4.219004621945797
17.799999999999997

In [33]:
print(media_peso_60)
print(mediana_peso_60)
print(desvio_padrao_peso_60)
print(variancia_peso_60)

77.6
76.0
6.268971207462991
39.3

In [34]:
print(media_peso_65)
print(mediana_peso_65)
print(desvio_padrao_peso_65)
print(variancia_peso_65)

76.2
80.0
7.496665925596525
56.199999999999996

Questão 3

In [5]:
df_trabalhadores = pd.read_csv('./DataSet/trabalhadores_renda_industria.csv', sep=';')
df_trabalhadores

      S  T  Z
0   4.5  M  N
1   5.0  T  M
2   4.2  M  M
3   3.7  M  M
4   3.9  T  T
5   4.1  T  N
6   2.9  T  M
7   2.7  T  M
8   3.5  T  T
9   3.2  T  N
10  4.7  M  N
11  5.5  M  T
12  4.8  M  T
13  3.4  T  M
14  4.2  M  M
15  3.4  M  N
16  4.4  M  T
17  3.7  M  T
18  2.8  T  M
19  2.5  T  M
20  2.9  T  T

In [36]:
industria = df_trabalhadores.groupby(by='T').agg({'S': [np.mean, np.median, np.std, variation]}).reset_index()
industria

   T         S
          mean median       std variation
0  M  4.310000    4.3  0.619049  0.136260
1  T  3.354545    3.2  0.740761  0.210547

Podemos retirar desses dados que a renda média dos trabalhadores na industria moderna é maior que a renda média dos trabalhadores na industria tradicional, assim como a mediana.

E a industria moderna apresenta um grupo mais homogêneo que a industria tradicional.

Então baseado nas informações podemos concluir que existe relação entre o tipo de industria e a renda dos trabalhadores.

In [37]:
grupo_moderna = df_trabalhadores[df_trabalhadores['T'] == 'M']
grupo_moderna

      S  T  Z
0   4.5  M  N
2   4.2  M  M
3   3.7  M  M
10  4.7  M  N
11  5.5  M  T
12  4.8  M  T
14  4.2  M  M
15  3.4  M  N
16  4.4  M  T
17  3.7  M  T

In [38]:
grupo_tradicional = df_trabalhadores[df_trabalhadores['T'] == 'T']
grupo_tradicional

      S  T  Z
1   5.0  T  M
4   3.9  T  T
5   4.1  T  N
6   2.9  T  M
7   2.7  T  M
8   3.5  T  T
9   3.2  T  N
13  3.4  T  M
18  2.8  T  M
19  2.5  T  M
20  2.9  T  T

In [39]:
media_moderna = grupo_moderna['S'].mean()
mediana_moderna = grupo_moderna['S'].median()
variancia_moderna = grupo_moderna['S'].var()

In [40]:
media_tradicional = grupo_tradicional['S'].mean()
mediana_tradicional = grupo_tradicional['S'].median()
variancia_tradicional = grupo_tradicional['S'].var()

In [41]:
print(media_moderna)
print(mediana_moderna)
print(variancia_moderna)

4.3100000000000005
4.300000000000001
0.3832222222222222

In [42]:
print(media_tradicional)
print(mediana_tradicional)
print(variancia_tradicional)

3.3545454545454545
3.2
0.5487272727272726

In [43]:
turno = df_trabalhadores.groupby(by='Z').agg({'S': [np.mean, np.median, np.std, variation]}).reset_index()
turno

   Z         S
          mean median       std variation
0  M  3.488889    3.4  0.849183  0.229476
1  N  3.980000    4.1  0.661060  0.148560
2  T  4.100000    3.9  0.869866  0.196424

Podemos visulizar que a media da renda dos trabalhadores da noite e tarde são parecidos entre si, mas são maiores que a média da renda dos trabalhadores da manhã assim como a mediana.

O grupo mais homogênio é o grupo da noite.

E baseado nas informações podemos afirmar que existe relação entre o período de trabalho e a renda dos trabalhadores.

In [44]:
grupo_manha = df_trabalhadores[df_trabalhadores['Z'] == 'M']
grupo_tarde = df_trabalhadores[df_trabalhadores['Z'] == 'T']
grupo_noite = df_trabalhadores[df_trabalhadores['Z'] == 'N']

In [45]:
grupo_manha

      S  T  Z
1   5.0  T  M
2   4.2  M  M
3   3.7  M  M
6   2.9  T  M
7   2.7  T  M
13  3.4  T  M
14  4.2  M  M
18  2.8  T  M
19  2.5  T  M

In [46]:
grupo_tarde

      S  T  Z
4   3.9  T  T
8   3.5  T  T
11  5.5  M  T
12  4.8  M  T
16  4.4  M  T
17  3.7  M  T
20  2.9  T  T

In [47]:
grupo_noite

      S  T  Z
0   4.5  M  N
5   4.1  T  N
9   3.2  T  N
10  4.7  M  N
15  3.4  M  N

In [48]:
media_manha = grupo_manha['S'].mean()
mediana_manha = grupo_manha['S'].median()
variancia_manha = grupo_manha['S'].var()

In [49]:
media_tarde = grupo_tarde['S'].mean()
mediana_tarde = grupo_tarde['S'].median()
variancia_tarde = grupo_tarde['S'].var()

In [50]:
media_noite = grupo_noite['S'].mean()
mediana_noite = grupo_noite['S'].median()
variancia_noite = grupo_noite['S'].var()

In [51]:
print(media_manha)
print(mediana_manha)
print(variancia_manha)

3.488888888888889
3.4
0.7211111111111111

In [52]:
print(media_tarde)
print(mediana_tarde)
print(variancia_tarde)

4.1
3.9
0.7566666666666667

In [53]:
print(media_noite)
print(mediana_noite)
print(variancia_noite)

3.9799999999999995
4.1
0.437

Questão 4

In [54]:
pacientes = [ 2.35,
              2.56,2.57,2.58,
              2.76,2.77,
              2.96,2.97,2.98,2.99,
              3.16,3.17,3.18,3.19,3.20,
              3.36,3.37,3.38,3.40,3.45,3.55]
pacientes

[2.35,
 2.56,
 2.57,
 2.58,
 2.76,
 2.77,
 2.96,
 2.97,
 2.98,
 2.99,
 3.16,
 3.17,
 3.18,
 3.19,
 3.2,
 3.36,
 3.37,
 3.38,
 3.4,
 3.45,
 3.55]

In [55]:
np.quantile(pacientes, q=[0.25, 0.50,0.75,1.0])

array([2.77, 3.16, 3.36, 3.55])

In [56]:
dados = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002, 2003],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]
}
populacao = pd.DataFrame(dados)
populacao

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2