In [54]:
import pandas as pd
import numpy as np

1 (Valor: 0,8 pontos) - Crie o DataFrame navegadores da página 70 do material da disciplina. Faça o que se pede:


(a) Realize um filtro a partir da coluna http_status onde o código é igual à 200.


(b) Realize um filtro a partir da coluna response_time onde o tempo de resposta é menor que 0.08 ms.


(c) Reindexe o DataFrame com o objeto new_index apresentado logo abaixo da criação do objeto navegadores.


(d) Refaça as atividades (a) e (b) e verifique se os resultados são os mesmos.


(e) Substitua o campo http_status do browser Iceweasel pelo código 501 e o campo response_time por 10.0.


(f) Substitua o campo http_status do browser Comodo Drago pelo código 503 e o campo response_time por 8.0.


(g) Com a nova reindexação, alguns índices acabaram sendo removidos. Descubra quais foram removidos e reinsira-os com seus respectivos campos.


(h) Pesquise as versões atuais de cada navegador e inclua um novo atributo chamado version com as informações encontradas.

In [55]:
index = ['Firefox', 'Chrome', 'Safari', 'IE10', 'Konqueror']
navegadores = pd.DataFrame({'http_status': [200, 200, 404, 404, 301],
 'response_time': [0.04, 0.02, 0.07, 0.08, 1.0]},
 index=index)
navegadores

           http_status  response_time
Firefox            200           0.04
Chrome             200           0.02
Safari             404           0.07
IE10               404           0.08
Konqueror          301           1.00

Questão A

In [56]:
navegadores.query('http_status == 200')

         http_status  response_time
Firefox          200           0.04
Chrome           200           0.02

Questão B

In [57]:
navegadores.query('response_time < 0.08')

         http_status  response_time
Firefox          200           0.04
Chrome           200           0.02
Safari           404           0.07

Questão C

In [58]:
new_index = ['Safari', 'Iceweasel', 'Comodo Dragon', 'IE10', 'Chrome']
new_navegadores = navegadores.reindex(new_index, fill_value=0)
new_navegadores

               http_status  response_time
Safari                 404           0.07
Iceweasel                0           0.00
Comodo Dragon            0           0.00
IE10                   404           0.08
Chrome                 200           0.02

Questão D

In [59]:
new_navegadores.query('http_status == 200')

        http_status  response_time
Chrome          200           0.02

In [60]:
new_navegadores.query('response_time < 0.08')

               http_status  response_time
Safari                 404           0.07
Iceweasel                0           0.00
Comodo Dragon            0           0.00
Chrome                 200           0.02

Questão E

In [61]:
new_navegadores.loc['Iceweasel', 'http_status'] = 501
new_navegadores.loc['Iceweasel', 'response_time'] = 10.0
new_navegadores

               http_status  response_time
Safari                 404           0.07
Iceweasel              501          10.00
Comodo Dragon            0           0.00
IE10                   404           0.08
Chrome                 200           0.02

Questão F

In [62]:
new_navegadores.loc['Comodo Dragon', 'http_status'] = 503
new_navegadores.loc['Comodo Dragon', 'response_time'] = 8.0
new_navegadores

               http_status  response_time
Safari                 404           0.07
Iceweasel              501          10.00
Comodo Dragon          503           8.00
IE10                   404           0.08
Chrome                 200           0.02

Questão G

In [63]:
x = navegadores.index.difference(new_navegadores.index)

In [64]:
navegadores.loc[x]

           http_status  response_time
Firefox            200           0.04
Konqueror          301           1.00

In [65]:
all_navegadores = pd.concat([new_navegadores, navegadores.loc[x]])
all_navegadores

               http_status  response_time
Safari                 404           0.07
Iceweasel              501          10.00
Comodo Dragon          503           8.00
IE10                   404           0.08
Chrome                 200           0.02
Firefox                200           0.04
Konqueror              301           1.00

Questão H

In [66]:
all_navegadores['version'] = ['16.3', '38.8', '80.0', '10.0.9200.16521', '109', '103', '22.12.3']
all_navegadores

               http_status  response_time          version
Safari                 404           0.07             16.3
Iceweasel              501          10.00             38.8
Comodo Dragon          503           8.00             80.0
IE10                   404           0.08  10.0.9200.16521
Chrome                 200           0.02              109
Firefox                200           0.04              103
Konqueror              301           1.00          22.12.3

2 (Valor: 1,2 pontos) - Pesquise e crie um exemplo sobre os seguintes métodos do DataFrame Pandas:


(a) dropna e drop_duplicates


(b) merge e concat


(c) groupby

Questão A

In [67]:
df1 = pd.DataFrame({'A': [1, 2, None, 4],
                   'B': [5, None, None, 8],
                   'C': [9, 10, 11, 12]})
df1

     A    B   C
0  1.0  5.0   9
1  2.0  NaN  10
2  NaN  NaN  11
3  4.0  8.0  12

In [68]:
df1.dropna()

     A    B   C
0  1.0  5.0   9
3  4.0  8.0  12

In [69]:
df2 = pd.DataFrame({'A': [1, 2, 2, 4],
                   'B': [5, 6, 6, 8],
                   'C': [9, 10, 10, 12]})
df2

   A  B   C
0  1  5   9
1  2  6  10
2  2  6  10
3  4  8  12

In [70]:
df2.drop_duplicates()

   A  B   C
0  1  5   9
1  2  6  10
3  4  8  12

Questão B

In [71]:
df3 = pd.DataFrame({'Product': ['A', 'B', 'C', 'D'],
                    'Rating': [1, 2, 3, 4]})
df4 = pd.DataFrame({'Product': ['B', 'D', 'E', 'F'],
                    'Rating': [5, 6, 7, 8]})
merged = pd.merge(df3, df4, on='Product')
merged

  Product  Rating_x  Rating_y
0       B         2         5
1       D         4         6

In [72]:
df5 = pd.DataFrame({'A': [1, 2, 3],
                    'B': [4, 5, 6]})
df6 = pd.DataFrame({'A': [7, 8, 9],
                    'B': [10, 11, 12]})
concatenated = pd.concat([df5, df6])
concatenated

   A   B
0  1   4
1  2   5
2  3   6
0  7  10
1  8  11
2  9  12

Questão C

In [73]:
df7 = pd.DataFrame({'Product': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'Stock': [100, 200, 150, 120, 250, 180]})

In [74]:
grouped = df7.groupby('Product')['Stock'].mean()
grouped

Product
A    110.0
B    225.0
C    165.0
Name: Stock, dtype: float64